In [10]:
import pandas as pd
GradeList = {'names':['Bob','Jessica','Mary','John','Mel'], 'grades':[76,-2,77,78,101]}
df = pd.DataFrame(data = GradeList)
df

   grades    names
0      76      Bob
1      -2  Jessica
2      77     Mary
3      78     John
4     101      Mel

In [12]:
df.loc[(df['grades'] <= 0,'grades')] = 0

In [13]:
df

   grades    names
0      76      Bob
1       0  Jessica
2      77     Mary
3      78     John
4     101      Mel